@import 'tailwindcss';

@theme {
  --animate-blob: blob 3s ease-in-out infinite;

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(30px, -50px) scale(1.1);
    }
    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }
    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
}

@layer utilities {
  .bg-gradient-base {
    @apply bg-linear-to-b from-blue-400 via-sky-300 to-cyan-700;
  }
  .no-scrollbar {
    @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
  }
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }

  .custom-scrollbar-light {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.4) transparent;
  }
  .custom-scrollbar-light::-webkit-scrollbar {
    width: 8px;
  }
  .custom-scrollbar-light::-webkit-scrollbar-track {
    background: transparent;
    background: rgba(0, 0, 0, 0.05);
  }
  .custom-scrollbar-light::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
    transition: background-color 0.3s;
  }
  .custom-scrollbar-light::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.6);
  }

  .custom-scrollbar-dark {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: rgba(255, 255, 255, 0.2) transparent; /* Firefox */
  }
  /* Chrome, Edge, Safari */
  .custom-scrollbar-dark::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar-dark::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar-dark::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    border: 2px solid transparent;
    background-clip: content-box;
  }
  .custom-scrollbar-dark::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
}
